# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc
.env
*.map.js
# dependencies
node_modules
__snapshots__
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.pnpm-store
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

**/codegens/**/*.*
!**/codegens/**/*.gitkeep

.nx/cache
.swc

*.js.map
# moon
.moon/cache
.moon/docker

# The `outDir` for declarations

lib/
!templates/lib
# Build cache manifests
*.tsbuildinfo
tsconfig.node.tsbuildinfo
dist/

tsbuild/
# config loaded
vite.config.js

# secrets
*.secrets
*.env

styled-system
**/panda-ui/**/*.*
!**/panda-ui/**/package.json
!**/panda-ui/**/panda.config.ts
!**/panda-ui/**/moon.yml

kiwi-pivot-table.png
.copilotignore

trace-dir
.eslintcache
